{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
  <form action="auth/" method="post">
    {% csrf_token %}

    <label for="username" style="margin-bottom: 10px;">Username</label>
    <input type="text" name="username" placeholder="Enter your username" required>
    
    <label for="password" style="margin-bottom: 10px;">Password</label>
    <input type="password" name="password" placeholder="Enter your password" required>
    
    <button type="submit" style="margin-top:20px; border-radius: 8px;">Sign in</button>
    
    <a href="/signup" style="margin-top: 10px;">Don't have an account? Sign up</a>
  </form>
  <p style="background-color:red;">
    {{ loginerror }}
  </p>
</body>
</html>
