{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
  <form action="auth/" method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Enter your username" required>
    
    <input type="password" name="password" placeholder="Enter your password" required>
    
    <button type="submit">Sign in</button>
    
    <input type="checkbox" name="remember" checked>
    
    <label for="remember">Remember me</label>
    
    <a href="/reset">Forgot your password?</a>
    
    <a href="/signup">Don't have an account? Sign up</a>
  </form>
  <p style="background-color:red;">
    {{ loginerror }}
  </p>
</body>
</html>
