{% load  static  %}

<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{%static 'signup.css'%}">
 <script> 
  var ermsg = "{{ ermsg|safe }}"
 </script>
 <script src="{% static 'js/signUpValidation.js' %}"></script>
</head>
<body>
  

  <form action="/signup/create/" method="post">
    {% csrf_token %}
    
    <input value="{{ usern }}" type="text" name="username" placeholder="Enter your username" required>
    <input value="{{ email }}" type="email" name="email" placeholder="Enter your email address" required>
    <input value="{{ pass }}" type="password" name="password" placeholder="Enter your password" required>
    
    <input value="{{ passconf }}" type="password" name="password_confirmation" placeholder="Confirm your password" required>

    <input type="checkbox" name="agree" required>
    
    <label for="agree">I agree to the <a href="/terms" style="display:inline">terms</a> and <a href="/privacy" style="display:inline">privacy policy</a></label>
    
    <button type="submit">Sign up</button>
    
    <a href="/">Already have an account? Sign in</a>
    <div id="error-box" class="error-box" style="display: block; background-color:red;"></div>
  </form>

</body>
</html>
