{% load static %}
<!DOCTYPE html>

<head>
 <link rel="stylesheet" href=" {% static 'css/add.css' %} ">
 <title>Add</title>
</head>
<body>
 
<form action="add" method="post">
 {% csrf_token %}
 <legend>New Task</legend>
 <input type="text" name="title" id="intitle" placeholder="Title">
 <br>
 <input type="number" name="prio" id="inprio" placeholder="Task Priority">
 <br>
 <input type="date" name="date" id="indate">
 <br>
 <textarea name="desc" id="indesc" cols="30" rows="10" placeholder="description"></textarea>
 <br>
 <button type="submit">Submit</button>
</form>
</body>
</html>