{% load static %}
<!DOCTYPE html>
<head>
 <title>Edit Task</title>
 <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>

<body>
 
<form action="conf/" method="post">
 {% csrf_token %}
 <legend>Edit Your Task</legend>
 <input id="intitle" type="text" name="title" value="{{ task.taskTitle }}" id="intitle">
 <br>
 <input type="number" name="prio" id="inprio" placeholder="Task Priority" value="{{ task.taskPriority }}">
 <br>
 <input id="indate" type="date" name="date" 
 value="{{ task.dueDate|date:'Y-m-d' }}" id="indate">
 <br>
 <textarea id="indesc" name="desc" id="indesc" cols="30" rows="10">{{ task.taskDescription }}</textarea>
 <br>
 <button type="submit">Submit</button>
</form>
</body>
</html>