{% extends "base.html" %}

{% block content %}
<form action="conf/" method="post" class="p-2 col-7 m-3 align-items-center">
 {% csrf_token %}
 <legend>Edit Your Task</legend>
 <input id="intitle" type="text" name="title" value="{{ task.taskTitle }}" id="intitle" class="form-control">
 <br>
 <input type="number" name="prio" id="inprio" placeholder="Task Priority" value="{{ task.taskPriority }}" class="form-control">
 <br>
 <input id="indate" type="date" name="date" 
 value="{{ task.dueDate|date:'Y-m-d' }}" id="indate" class="form-control">
 <br>
 <textarea id="indesc" name="desc" id="indesc" cols="30" rows="10" class="form-control">{{ task.taskDescription }}</textarea>
 <br>
 <button type="submit" class="btn btn-primary">Save</button>
 <a href="{% url 'home' %}" class="btn btn-danger ms-3">Cancel</a>
</form>
{% endblock content %}