{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <div class="addbtn">
    <a href="addp">Add Task</a>
  </div>
<div class="logoutbtn" style="display: inline-block; background-color: #ca2020; color: white; padding: 10px 20px; text-decoration: none; border-radius: 10px; margin: 1vw; transition: background-color 0.3s ease-in-out;">
  <a href="/logout/" style="text-decoration: none; color:white">Logout</a>
</div>
    <br>
    <label for="sort">Sort By:</label>
  <select name="sortby" id="sort" onchange="handleSorting()">
    <option value=" "></option>
    <option value="0">Priority: Ascending</option>
    <option value="5">Priority: Descending</option>
    <option value="1">Date: Ascending</option>
    <option value="2">Date: Descending</option>
    <option value="3">Title: Ascending</option>
    <option value="4">Title: Descending</option>
  </select>

  {% csrf_token %}
  {% for task in tasks %}
    <div class="task">
      <input type="checkbox" onclick="handleClick(event)">
      <h1 id="{{ task.id }}"><span>{{ task.taskPriority }} </span> {{ task.taskTitle }}</h1>
      <h2 class="datee">{{ task.dueDate }}</h2>
      <p>{{ task.taskDescription }}</p>
      <a class="addbtn" href="{% url 'edit' task.id %}">Edit Task</a>
      <a class="delbtn" href="{% url 'delete' task.id %}">Delete</a>
    </div>
  {% endfor %}
  <h1>
    Contact the developer
  </h1>
  <a href="https://www.linkedin.com/in/saedalmajaly/" target="_blank">
    <img style="width:8vw;" src="{% static 'img/linkedin.png' %}">
  </a>
  <a href="mailto:smajaly01@gmail.com" target="_blank">
    <img style="width:8vw;height: 8vw;" src="{% static 'img/email.jpg' %}">
  </a>

</body>
</html>
