body {background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(92,92,92,1) 35%, rgba(154,150,150,1) 100%);
  font-family: Arial, sans-serif; font-size: 16px; }

form {
 background-color:white; 
 margin: 20px auto; padding: 20px; width: 80%; max-width: 600px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }

legend { font-weight: bold; font-size: 24px; color: #333; }

input, textarea { display: block; width: 95%; border: 2px solid #ddd; padding: 10px; outline: none; }

input:focus, textarea:focus { border-color: #66aaff; }

button { display: block; margin: 10px auto; width: 200px; height: 50px; background-color: #66aaff; border: none; border-radius: 25px; color: white; font-weight: bold; cursor: pointer; }

button:hover { background-color: #5599ee; } 